In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
outerIndex=["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [5]:
innerIndex=["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [19]:
list(zip(outerIndex,innerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [20]:
hierarchy=list(zip(outerIndex,innerIndex))
hierarchy=pd.MultiIndex.from_tuples(hierarchy)

In [21]:
df=pd.DataFrame(randn(9,3),hierarchy,columns=["Column1","Column2","Column3"])

In [22]:
df

                Column1   Column2   Column3
Group1 Index1  0.065341  0.969671  0.931268
       Index2  0.488514  0.606213  0.332692
       Index3 -0.042638 -0.898403  0.536300
Group2 Index1 -1.181545  1.439053  0.003165
       Index2  0.993399 -1.480764  0.334625
       Index3 -1.547049  1.731091 -0.465622
Group3 Index1 -0.365836  0.624277  0.185086
       Index2  0.506295 -0.316660 -1.277601
       Index3  1.411035  0.417742 -1.908394

In [24]:
df["Column1"]

Group1  Index1    0.065341
        Index2    0.488514
        Index3   -0.042638
Group2  Index1   -1.181545
        Index2    0.993399
        Index3   -1.547049
Group3  Index1   -0.365836
        Index2    0.506295
        Index3    1.411035
Name: Column1, dtype: float64

In [26]:
df.index.names=["Groups","Indexes"]

In [28]:
df.index.names

FrozenList(['Groups', 'Indexes'])

In [29]:
df

                 Column1   Column2   Column3
Groups Indexes
Group1 Index1   0.065341  0.969671  0.931268
       Index2   0.488514  0.606213  0.332692
       Index3  -0.042638 -0.898403  0.536300
Group2 Index1  -1.181545  1.439053  0.003165
       Index2   0.993399 -1.480764  0.334625
       Index3  -1.547049  1.731091 -0.465622
Group3 Index1  -0.365836  0.624277  0.185086
       Index2   0.506295 -0.316660 -1.277601
       Index3   1.411035  0.417742 -1.908394

In [30]:
df.xs("Index1",level="Indexes")

         Column1   Column2   Column3
Groups
Group1  0.065341  0.969671  0.931268
Group2 -1.181545  1.439053  0.003165
Group3 -0.365836  0.624277  0.185086

In [31]:
df.xs("Group1").xs("Index1").xs("Column1")

0.06534119709324566