In [1]:
import numpy as nd

In [2]:
import pandas as pd

In [3]:
from numpy.random import randn

In [5]:
df=pd.DataFrame(data=randn(3,3),index=["A","B","C"],columns=["Column1","Column2","Column3"])

In [6]:
df

    Column1   Column2   Column3
A -0.954665  0.869718 -0.354672
B  0.312707 -0.234776  0.906201
C  1.908837  1.449982 -1.615804

In [7]:
df["Column1"]

A   -0.954665
B    0.312707
C    1.908837
Name: Column1, dtype: float64

In [8]:
df.loc["A"]

Column1   -0.954665
Column2    0.869718
Column3   -0.354672
Name: A, dtype: float64

In [9]:
df["Column4"]=pd.Series(randn(3),["A","B","C"])

In [10]:
df

    Column1   Column2   Column3   Column4
A -0.954665  0.869718 -0.354672 -0.540520
B  0.312707 -0.234776  0.906201 -0.345535
C  1.908837  1.449982 -1.615804 -1.196292

In [11]:
df["Column5"]=df["Column1"]+df["Column2"]+df["Column3"]

In [12]:
df

    Column1   Column2   Column3   Column4   Column5
A -0.954665  0.869718 -0.354672 -0.540520 -0.439619
B  0.312707 -0.234776  0.906201 -0.345535  0.984132
C  1.908837  1.449982 -1.615804 -1.196292  1.743014

In [14]:
df.drop("Column5",axis=1,inplace=True)

In [15]:
df

    Column1   Column2   Column3   Column4
A -0.954665  0.869718 -0.354672 -0.540520
B  0.312707 -0.234776  0.906201 -0.345535
C  1.908837  1.449982 -1.615804 -1.196292

In [16]:
df.loc["A","Column1"]

-0.954664972611636