In [1]:
import numpy as np
import pandas as pd

In [4]:
arr=np.array([[10,20,np.nan],[5,np.nan,np.nan],[21,np.nan,10]])

In [5]:
arr

array([[10., 20., nan],
       [ 5., nan, nan],
       [21., nan, 10.]])

In [8]:
df=pd.DataFrame(arr,index=["Index1","Index2","Index3"],columns=["Columns1","Columns2","Columns3"])

In [9]:
df

        Columns1  Columns2  Columns3
Index1      10.0      20.0       NaN
Index2       5.0       NaN       NaN
Index3      21.0       NaN      10.0

In [12]:
df.dropna()

Empty DataFrame
Columns: [Columns1, Columns2, Columns3]
Index: []

In [13]:
df.dropna(axis=1)

        Columns1
Index1      10.0
Index2       5.0
Index3      21.0

In [14]:
df.dropna(thresh=2)

        Columns1  Columns2  Columns3
Index1      10.0      20.0       NaN
Index3      21.0       NaN      10.0

In [15]:
def calculateMean(df):
    totalSum=df.sum().sum()
    totalNum=df.size-df.isnull().sum().sum()
    return totalSum/totalNum

In [16]:
df.fillna(value=calculateMean(df),inplace=True)

In [17]:
df

        Columns1  Columns2  Columns3
Index1      10.0      20.0      13.2
Index2       5.0      13.2      13.2
Index3      21.0      13.2      10.0